<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Title</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />

    <link href="./css/mdui.min.css" rel="stylesheet">

    <style>
    </style>
</head>

<body class="mdui-theme-primary-indigo mdui-theme-accent-pink mdui-appbar-with-toolbar mdui-drawer-body-left">
    <header>
        <div class="mdui-appbar mdui-appbar-fixed">
            <div class="mdui-toolbar mdui-color-theme">
                <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-drawer'}"><i
                        class="mdui-icon material-icons">menu</i></a>
                <a href="javascript:;" class="mdui-typo-headline">AniLyrics</a>
                <a href="javascript:;" class="mdui-typo-title mdui-hidden-xs-down">Index</a>
                <div class="mdui-toolbar-spacer"></div>
                <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>
                <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i
                        class="mdui-icon material-icons">refresh</i></a>
                <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i
                        class="mdui-icon material-icons">more_vert</i></a>
            </div>
        </div>

    </header>
    <div class="mdui-drawer" id="left-drawer">
        <div
            style="position: relative; width: 100%;height: 280px; background-image: url('./img/defocused-image-of-lights-255379.jpg');background-repeat: no-repeat; background-size: auto 100%;background-position: center;overflow: hidden;margin: 0;padding: 0;">
            <div
                style="position: absolute;top: 0;margin: 0;width: 100%;height: 100%;opacity: 0.2;background-color: black;">
            </div>
            <div
                style="position: absolute; display: flex;flex-flow: column nowrap;justify-content: space-around;align-items: center;height: 100%;width: 100%;">
                <img class="mdui-img-circle" style="width: 128px; height: 128px; background-color: gray;display: block;"
                    th:src="${user.avatarUrl}" src="./img/defaultavater.jpg" />
                <div style="display: flex;">
                    <button th:if="!${loggedIn}" class="mdui-btn mdui-ripple">Login</button>
                    <button th:if="${loggedIn}" class="mdui-btn mdui-ripple">Logout</button>
                    <button th:if="${loggedIn}" class="mdui-btn mdui-ripple">Profile</button>
                </div>
            </div>
        </div>
        <ul class="mdui-list" style="margin: 0;padding: 0;">
            <a class="mdui-list-item mdui-ripple">Favourite</a>
        </ul>
    </div>
    <!-- Content Begin -->
    <div class="mdui-container mdui-typo">
        <div class="mdui-table-fluid">
            <table class="mdui-table" id="list">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Lyricist</th>
                        <th>Composer</th>
                        <th>Category</th>
                        <!-- <th style="width:24px">Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr data-id="1">
                        <td class="mdui-ripple" data-type="title">Title</td>
                        <td class="mdui-ripple" data-type="artist">Artist</td>
                        <td class="mdui-ripple" data-type="lyricist">Lyricist</td>
                        <td class="mdui-ripple" data-type="composer">Composer</td>
                        <td class="mdui-ripple" data-type="category">Category</td>
                        <!-- <td class="mdui-ripple" data-type="favourite"><i class="mdui-icon material-icons">favorite</i> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon material-icons">arrow_back</i></button>
        <button class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon material-icons">arrow_forward</i></button>

    </div>
    <!-- Content End -->
</body>
<!-- <script src="./js/jquery.min.js"></script> -->
<script src="./js/mdui.min.js"></script>
<script src="./js/index.js"></script>

</html>